@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: white;
    --foreground: black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
  }
}

@layer base {
  body {
    @apply h-screen bg-[var(--background)] text-[var(--foreground)];
  }
}
